
main{ 
    display: flex;
}


.main-container{
    display:flex;
}



.body-container{
    background-color: #E5E5E5;
    padding:  40px 40px ;
    font-family: 'Inter', sans-serif;
}

#logo-container{
    height: 48px;
    background-color: red;
    position: absolute;
    left: 0%;
}

.to-encrypt-container{
    background-color: pink;
    padding: 80px 1em 30px;
    width: 65%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;    
}

.text-to-encrypt{
    width: 30rem;
    margin: 2rem;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    border: none;
    background-color: #FFFFFF;
    display: block;
}

#attention-sign{
    font-family: 12px;
    color: #495057;
    padding: 0.5rem;
}

#attention-sign::before{
    content: url(images/vectorvector.svg);
    margin-right: 0.5rem;
}

button{
    padding: 24px;
    gap: 8px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 328px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.button-encrypt{
    background-color: #0A3871;
    color: #FFFFFF;
}
.button-decrypt{
    color: #0A3871;
}

.encrypt{
    font-family: 'Inter', sans-serif;
}

.encrypted-container{
    min-height: 90vh;
    background-color:#FFFFFF;
    border-radius: 15px;
    border-color: #FFFFFF;
    position: absolute;
    right: 40px;
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 25%;
    
}

.image-one{
    width: 15em;
    display: flex;
    align-items: center;
}